<h1 id="tableLabel">List of Todos</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!todos"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="todos">
  <thead>
    <tr>
      <!-- <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th> -->
      <th>ID</th>
      <th>Name</th>
      <!-- <th>Status</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos">
      <!-- <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td> -->
      <td>{{ todo.id }}</td>
      <td>{{ todo.name }}</td>
      <!-- <td>{{ todo.isCompleted }}</td> -->
    </tr>
  </tbody>
</table>
